<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      background: rgb(255, 255, 255);
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(110, 82, 129, 1) 100%
      );
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1 style="margin-top: 5vh">my god.. YOU FAILED!!!</h1>
      <h3>You didn't answer all the questions correctly</h3>
      <img src="./../static/failed.gif" style="width: 50%" />
      <a href="/quizz"><button style="margin: 5vh">Try Again</button></a>
    </div>
  </body>
</html>
